
/* style.css */
body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}


.img-small {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}
.img-medium {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

